
body > .main {
	font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
	min-width:300px;
	width:80%;
	margin:auto;
}
header > .logo>img {
	float:left;
	height:150px;
}
header > .logo>h1 {
	margin-left:200px;
	margin-top:50px;
	padding-top:30px;
	margin-bottom:100px;
	font-weight:bold;
	font-size:3em;
}

.main > .menu {
	padding-top:50px;
	width:200px;
	height:400px;
	float:left;
}
h1 {
	text-align:center;
}
.menu > nav >a {
	padding-top:10px;
	display:block;
	font-size:1.5em;
	font-weight:bold;
}	
.main > .content {
	padding-left:200px;
}
