<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
	<link href="/css/main.css" rel="stylesheet"/>
        <title>{{ page.title }}</title>
    </head>
    <body>
	    <div class="main">
		    <header>
			    <a class="logo" href="/"> <img src="/logos/rust-italia.png"/><h1>Rust Italia</h1> </a> 
		    </header>
	    <section class="menu" >
		    <nav>
			    <a href="/index.html" >Home</a>
			    <a href="/communities.html" >Communities</a>
			    <a href="/blog.html" >Blog</a>
		    </nav>
	    </section>
		    <section class="content">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
		    </section>
	    </div>
  </body>
</html>
